/*Header*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* max-height: 20rem */
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  position: relative;
}

.menu-svg {
  display: none;
}

.grid-1 {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  background-image: url("./assets/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .grid-1 > img {
  position: absolute;
  width: fit-content;
  z-index: 10;
} */

.hero-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: var(--brown);
}

.grid-3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--green);
}

.hero-box img {
  max-width: 50%;
  padding: 1rem;
}
/*First article*/
.featured-article {
  display: flex;
  align-items: center;
  width: 90%;
}

.featured-img {
  display: flex;
  justify-content: center;
  background-color: var(--green);
  border-radius: 50%;
  padding: 3rem;
  height: 15rem;
  width: 15rem;
}

.featured-img img {
  width: 8rem;
}

/*
.featured-img img {
  max-width: 75%;
}*/

.top-article {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 90%;
  margin-left: 3rem;
}

.featured-article h2 {
  margin: 0.5rem 0;
}

.featured-btn {
  font-size: 20px;
  padding: 1rem 2rem;
  align-self: flex-end;
}

.featured-btn:hover {
  transform: scale(1.1);
}

h1 {
  font-family: "Maven Pro", sans-serif;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  color: var(--green);
  margin: 2rem 0;
  text-shadow: var(--shadow);
}

.green-divider {
  background-color: #055647;
  height: 0.1rem;
  width: 50%;
  margin: 5rem 0;
  align-self: center;
}

/*Plant grid*/
.plantations > h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Lato", sans-serif;
}

.plant-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-items: center;
  margin: 2rem;
  gap: 2rem;
}

.plant-grid img {
  width: 90%;
}

.grid-box {
  /* height: 15rem;
  width: 12rem; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.grid-box figcaption {
  padding: 1rem;
}

.grid-box img {
  width: 100%;
}

.grid-btn {
  display: flex;
  justify-content: center;
  margin: 0 0 1.2rem 0;
}

.bottom-article {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-right: 3rem;
}

.bottom {
  flex-direction: row-reverse;
}

.bottom-article button {
  align-self: flex-start;
}

/*Footer*/

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 3rem;
  background-image: url("./assets/footer.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 400px;
  font-family: "Maven Pro", sans-serif;
  font-size: 20px;
}

footer .footer-left {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

footer h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 500;
  height: 100%;
}

footer .footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .logo {
  padding: 1rem;
}

footer .contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.2rem;
}

footer .contact-info p {
  display: flex;
  align-items: center;
  gap: 0 0.8rem;
}

.end-greeting {
  padding: 2rem;
  grid-column: 1/3;
  text-align: center;
}

/*
@media (min-width: 1500px) {

  .featured-article {
    max-width: 70%;
  }
}*/

@media (max-width: 800px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    box-shadow: var(--shadow);
  }
  .menu-svg {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    display: block;
    cursor: pointer;
  }

  .grid-1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .grid-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .grid-3 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  .hero-box {
    padding: 1rem;
  }

  .hero-box img {
    width: 90%;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 22px;
  }

  .featured-btn {
    padding: 0.5rem 1.1rem;
    font-size: 18px;
  }

  .plant-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .featured-article {
    flex-direction: column-reverse;
  }

  .green-divider {
    margin: 2rem 0;
  }

  .bottom {
    flex-direction: column;
  }

  .top-article,
  .featured-btn,
  .bottom-article {
    align-self: center;
    text-align: center;
    margin-left: 0;
  }

  .featured-img {
    margin: 1.5rem 0;
  }

  /* .featured-img img {
    max-width: 80%;
  } */

  .bottom-article button {
    align-self: center;
  }

  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 30;
  }

  .footer-right {
    grid-row: 1/2;
  }

  .footer-left {
    grid-row: 2/3;
  }

  footer .contact-info {
    padding: 0;
  }

  footer .contact-info p {
    gap: 0.5rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
}
