/*HEADER*/

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("./assets/footer.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

header img {
  margin: 3rem 0 0 0;
  width: 50%;
  width: fit-content;
}

header h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-shadow: var(--shadow);
  margin: 3rem;
}

/*MAIN*/

.add-header {
  font-size: 25px;
  justify-self: flex-start;
  font-family: "Open Sans", sans-serif;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.add-plant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 3rem;
  padding: 3rem 0;
  width: 90%;
}

input {
  border: 1px solid rgba(226, 226, 226, 0.801);
  box-shadow: var(--shadow);
  padding: 0.5rem;
  width: 440px;
}

.add-plant-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.add-plant-form label,
.add-plant-form input {
  margin-right: 1rem;
}

.featured-btn {
  padding: 1rem 1.2rem;
  font-size: 18px;
  align-self: center;
}

.plants-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.plant-header {
  margin: 1rem;
  align-self: center;
  font-family: "Lato", sans-serif;
  font-size: 25px;
}

.plant-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-items: center;
  margin: 2rem;
  gap: 2rem;

  img {
    width: 90%;
  }
}

/*FOOTER*/

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--brown);
  width: 100%;
  margin: 0;
  padding: 1rem;
  justify-items: center;
  position: relative;
}

footer img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  overflow: hidden;
  padding: 0 1rem;
}

footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--brown);
  opacity: 0.3;
  pointer-events: none;
}

/** Media queries **/

@media (max-width: 800px) {
  .add-header {
    align-self: center;
  }

  .add-header,
  .plant-header {
    font-size: 22px;
  }

  .plants-section img {
    max-width: 100%;
  }

  .add-plant {
    margin: 0;
  }

  .add-plant-form {
    flex-direction: column;
    gap: 1.5rem;
  }

  .input-group {
    display: flex;
    flex-direction: column;
  }

  input {
    width: 80vw;
  }

  .plant-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem;
  }

  .menu-svg img {
    margin: 0;
  }

  footer {
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }

  footer img {
    padding: 0.5rem;
    margin: 0;
    height: 15vh;
  }
}
