:root {
  --green: #0a846e;
  --greenheader: #055647;
  --brown: #9e6d52;
  --shadow: 0 4px 4px rgba(3, 56, 47, 0.11);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("./assets/footer.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  max-height: 50vh;
  /* background-color: rgba(0, 0, 0, 0.6); */
}

header img {
  margin: 3rem 0 0 0;
  width: 50%;
  width: fit-content;
}

header h1 {
  font-family: "Maven Pro", sans-serif;
  color: white;
  font-weight: 500;
  text-shadow: var(--shadow);
  margin: 3rem;
}

legend {
  text-shadow: var(--shadow);
  font-family: "Lato", sans-serif; /*ÄNDRADE FRÅN h2*/
  justify-self: flex-start;
}

label {
  display: block;
} /*LA TILL*/

.add-plant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 3rem;
  padding: 3rem 0;
  width: 90%;
}

.input-forms label {
  margin-right: 0.5rem;
} /*Ta bort?*/

input {
  border: 1px solid rgba(226, 226, 226, 0.801);
  box-shadow: var(--shadow);
  padding: 0.5rem;
  width: 440px;
}

.add-plant-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.add-plant-form label,
.add-plant-form input {
  margin-right: 1rem;
}

.featured-btn {
  padding: 1rem 1.2rem;
  font-size: 18px;
  align-self: center;
}

.plants-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.plant-header {
  margin: 1rem;
  align-self: center;
  font-family: "Lato", sans-serif;
}

.plants {
  margin: 1rem 2rem;
}

.planted-plants {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.plant-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-items: center;
  margin: 2rem;
  gap: 2rem;

  img {
    width: 90%;
  }
}

.grid-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  figcaption {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    padding: 1rem;
  }

  img {
    width: 100%;
  }

  p {
    margin: 1rem 0;
  }

  figcaption h3 {
    font-size: 20px;
  }

  figcaption .date {
    text-align: end;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
  }

  figcaption .remove-btn {
    width: fit-content;
    justify-self: end;
    margin: 0.5rem;
    background-color: #b93857;
    color: white;
    padding: 0 1rem;
    border-radius: 15px;
    border: none;
    font-family: "Open Sans", sans-serif;
  }

  figcaption .remove-icon {
    display: none;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--brown);
  width: 100%;
  margin: 0;
  padding: 2rem 0;
  justify-items: center;
}

footer img {
  width: 80%;

  overflow: hidden;
  object-fit: contain;
}

@media (max-width: 800px) {
  .plants-section img {
    max-width: 100%;
  }
  .add-plant-form {
    flex-direction: column;
    gap: 1.5rem;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    width: 350px;
  }

  .plant-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem;
  }

  .grid-box {
    figcaption .date,
    p {
      font-size: 10px;
    }

    figcaption h3 {
      font-size: 14px;
    }

    figcaption .remove-btn {
      display: none;
    }

    figcaption .remove-icon {
      display: block;
      width: 20px;
      height: 20px;
      align-self: center;
      justify-self: end;
      cursor: pointer;
    }
  }

  .menu-svg img {
    margin: 0;
  }

  footer {
    grid-template-columns: 1fr 1fr;
  }

  footer img {
    padding: 1rem;
  }
}
